<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <div class="wrap" id="auth_report">
        <div class="header">
            <span class="ic-bi sp"></span>
            <div class="header__tit-wrap">
                <h1 class="header__tit">체육쌤</h1>
                <p class="header__subtit">Life with full of fitness</p>
            </div>
        </div>
        <div class="content" v-if="seen">
            <div class="content__notice">
                <span class="ic-alert-bl sp"></span>
                <h2 class="notice__tit">해당 계정에 대한 신고가 접수되었습니다.</h2>
                <p class="notice__subtit">탈퇴 조취가 진행될 예정입니다.</p>
            </div>
            <div class="content__btn-wrap">
                <button class="btn--round">체육쌤 열기</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="./common.js"></script>
    <script>
        var authToken = location.href.split("?token=")[1];
        var vue_auth_report = new Vue(auth_report(authToken));
        vue_auth_report.POST();
    </script>

</body>
</html>