.content__inner.is-header-none{padding-top:0;}

.btn--round {
  min-width: 144px;
  height: 38px;
  font-size: 12px;
  font-weight: bold;
  line-height: 36px;
  color: #fff;
  background: #139bf9;
  border: 1px solid #1293ec;
  border-radius: 19px;
}
.content {
  position: relative;
  min-height: 100%;
  padding-top: 56px;
  background: #e9eaeb;
}

.content__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  overflow-y: auto;
  padding-top: 56px;
  background-color: #fff;
}

.content__notice {
  min-height: 200px;
  padding: 54px 10px 10px;
  margin: 16px;
  text-align: center;
  word-break: keep-all;
  word-wrap: break-word;
  background: #fff;
  border: 1px solid #e0e2e6;
}

.content__notice .sp {
  margin-bottom: 9px;
}

.content__notice .notice__tit {
  font-size: 16px;
  font-weight: bold;
  color: #111;
  line-height: 20px;
  margin-bottom: 3px;
}

.content__notice .notice__subtit {
  font-size: 12px;
  color: #929597;
  line-height: 16px;
}

.content__btn-wrap {
  padding-bottom: 16px;
  text-align: center;
}

.feed-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  overflow-y: auto;
  padding-top: 56px;
  background-color: #fff;
}

.feed-wrap__inner {
  /*padding: 16px 0 40px; */
  padding-top: 16px;
}

.feed__user-info {
  min-height: 42px;
  padding: 0 16px 10px;
}

.feed__user-info .feed__user-thumb {
  float: left;
  position: relative;
  margin-right: 10px;
  vertical-align: top;
}

.feed__user-info .feed__user-thumb:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
}

.feed__user-info img {
  display: inline-block;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  vertical-align: top;
  border-radius: 16px;
}

.feed-wrap .feed__user-name {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #111;
}

.feed-wrap .feed__write-date {
  display: block;
  font-size: 10px;
  line-height: 14px;
  color: #929597;
}

.feed__content {
  padding: 0 16px;
}

.feed__txt {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  color: #111;
}

.feed__txt .tag {
  font-weight: bold;
}

.feed__txt--more {
  display: block;
  color: #aaa;
}

.feed__img-wrap {
  position: relative;
  margin-bottom: 10px;
}

.feed__img-wrap:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
}

.feed__img-wrap img {
  width: 100%;
  vertical-align: top;
}

.feed__img-wrap .ic-play-lg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

.feed__img-swiper {
  margin: 0 -16px;
  padding: 0 16px;
}

.feed__box {
  padding-top: 12px;
  margin-bottom: 10px;
  border: 1px solid #e0e2e6;
}

.feed__box .feed__user-info {
  padding: 0 12px 10px;
}

.feed__box .feed__content {
  padding: 0 12px 2px;
}

.feed__box .feed__img-swiper {
  margin: 0 -28px;
  padding: 0 28px;
}

.feed__link-wrap {
  margin-bottom: 10px;
}

.feed__link-wrap .feed__img-wrap {
  margin-bottom: 0;
}

.feed__link-wrap .feed__link-info {
  padding: 10px 12px;
  border: 1px solid #e0e2e6;
  border-top: none;
}

.feed__link-info .link__tit {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 18px;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #111;
}

.feed__link-info .link__txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 18px;
  font-size: 12px;
  line-height: 18px;
  color: #111;
}

.feed__link-info .link__url {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 13px;
  font-size: 10px;
  line-height: 13px;
  color: #929597;
}

.feed__social-count {
  height: 35px;
  padding: 5px 0 15px;
  overflow: hidden;
}

.feed__social-count .social__txt {
  float: left;
  margin-right: 8px;
  font-size: 10px;
  font-weight: bold;
  line-height: 15px;
  color: #929597;
}

.feed__social-count .social__txt .count {
  color: #111;
}

.feed__footer {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
}

.feed__social-menu {
  position: relative;
  border-top: 1px solid #edeff2;
  height: 40px;
  padding: 0 32px 0 16px;
}

.feed__social-menu .sp {
  margin: 10px 28px 0 0;
}

.feed__social-menu .ic-bookmark-off {
  position: absolute;
  top: 0;
  right: 16px;
  margin: 10px 0 0;
}

.info-wrap .info__tit {
  padding: 16px 16px 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #111;
}

.info-wrap .info__txt {
  padding: 0 16px;
  font-size: 10px;
  line-height: 14px;
  color: #626568;
}

.info-wrap .info__item .item__tit {
  border-bottom: 1px solid #edeff2;
}

.info-wrap .info__item .item__link {
  display: block;
  position: relative;
  min-height: 41px;
  font-size: 12px;
  line-height: 15px;
  padding: 13px 32px 11px 16px;
  font-weight: bold;
  color: #111;
}

.info-wrap .info__item .item__link .sp {
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -4px;
}

.info-wrap .info__item .item__date {
  display: block;
  margin-top: 2px;
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  color: #929597;
}

.info-wrap .info__item .item__content {
  display: none;
  padding: 16px;
  overflow: hidden;
  font-size: 12px;
  color: #111;
  line-height: 18px;
  background: #f6f7f8;
  border-bottom: 1px solid #edeff2;
}

.info-wrap .info__item.is-open .item__content {
  display: block;
}
/* global */

html,
body {
  height: 100%;
}

body {
  font-family: "Apple SD gothic Neo", HelveticaNeue, sans-serif;
}

.wrap {
  height: 100%;
}

.sp {
  display: inline-block;
  background: url(../img/sprite.png) no-repeat;
  background-size: 115px auto;
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  vertical-align: top;
}
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 56px;
  padding: 14px 16px 0 42px;
  background: #139bf9;
  z-index: 10;
}

.header .ic-bi {
  position: absolute;
  top: 16px;
  left: 16px;
}

.header .header__tit-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header .header__tit {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #fff;
}

.header .header__subtit {
  font-size: 10px;
  line-height: 12px;
  color: #92d2ff;
}

.header .header__applink-wrap {
  font-size: 0;
}

.header .header__applink {
  display: inline-block;
  height: 24px;
  min-width: 80px;
  padding: 3px;
  margin: 2px 0 0 5px;
  font-size: 10px;
  line-height: 16px;
  color: #111;
  text-align: center;
  background: #fff;
  border: 1px solid #1293ec;
  border-radius: 4px;
}

.header .header__applink.header__applink--m {
  min-width: 70px;
  color: #139bf9;
}

.header .header__applink .sp {
  margin-right: 4px;
}
/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}
.ic-alert-bl {
  background-position: -54px 0;
  width: 38px;
  height: 36px;
}

.ic-appstore {
  background-position: -96px -72px;
  width: 13px;
  height: 16px;
}

.ic-arrow-down,
.info__item .item__link .ic-arrow {
  background-position: -71px -40px;
  width: 13px;
  height: 8px;
}

.ic-arrow-down,
.info__item.is-open .item__link .ic-arrow {
  background-position: -54px -40px;
  width: 13px;
  height: 8px;
}

.ic-bi {
  background-position: -40px -54px;
  width: 20px;
  height: 24px;
}

.ic-bookmark-off {
  background-position: -96px -24px;
  width: 16px;
  height: 20px;
}

.ic-heart-off {
  background-position: -96px 0;
  width: 19px;
  height: 20px;
}

.ic-play-lg {
  background-position: 0 0;
  width: 50px;
  height: 50px;
}

.ic-playstore {
  background-position: 0 -94px;
  width: 12px;
  height: 16px;
}

.ic-reply-off {
  background-position: -64px -54px;
  width: 19px;
  height: 20px;
}

.ic-share-off {
  background-position: -96px -48px;
  width: 16px;
  height: 20px;
}

.ic-smile-bl {
  background-position: 0 -54px;
  width: 36px;
  height: 36px;
}
.txt--hl {
  color: #139bf9;
}

.txt--bl {
  font-weight: bold;
}